@import "tailwindcss";
.distressed-text {
  display: block;
  width: fit-content;

  color: transparent;
  background-image:
    url("/textures/grunge.png"),
    linear-gradient(var(--text-color), var(--text-color));

  background-size:
    300px 300px,
    100% 100%;

  background-position: center;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;

  background-clip: text;
  -webkit-background-clip: text;
}

/* ========================================================= */
/* FOOD CATEGORY BAR */
/* ========================================================= */

.category-container {
  box-shadow:
    0 15px 45px rgba(0, 0, 0, 0.32),
    0 3px 10px rgba(0, 0, 0, 0.16);
}

/* Each category */

.category-item {
  height: clamp(78px, 12vw, 170px);
  padding: clamp(8px, 1.5vw, 24px) clamp(2px, 1vw, 18px);

  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.category-item:hover {
  background-color: #ffffff;
}

/* ========================================================= */
/* ICON */
/* ========================================================= */

.category-icon {
  font-size: clamp(23px, 3.2vw, 52px);

  margin-bottom: clamp(4px, 0.7vw, 11px);
}

/* ========================================================= */
/* CATEGORY TITLE */
/* ========================================================= */

.category-title {
  font-size: clamp(0.56rem, 1.2vw, 1.2rem);

  line-height: 1;
}

/* ========================================================= */
/* DESCRIPTION */
/* ========================================================= */

.category-description {
  margin-top: clamp(3px, 0.4vw, 7px);

  font-size: clamp(0.34rem, 0.75vw, 0.8rem);

  line-height: 1.2;
}

/* ========================================================= */
/* EXTRA SMALL PHONES */
/* ========================================================= */

@media (max-width: 400px) {
  .category-item {
    height: 75px;
    padding-left: 1px;
    padding-right: 1px;
  }

  .category-icon {
    font-size: 21px;
    margin-bottom: 4px;
  }

  .category-title {
    font-size: 0.5rem;
  }

  .category-description {
    font-size: 0.29rem;
    margin-top: 3px;
  }
}

/* ========================================================= */
/* DESKTOP */
/* ========================================================= */

@media (min-width: 1024px) {
  .category-item:hover .category-icon {
    transform: translateY(-5px) scale(1.07);
  }
}